/*New Styles by Allan*/
.dt-buttons{
  display: none;
}
.round{
  border-radius:30px !important;
  -moz-border-radius:30px !important;
  -webkit-border-radius:30px !important;
}

.black-box{
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
  background-color: rgba(0,0,0,0.6) !important;
}

.animate:after {
  
  animation: shine 5s ease-in-out  infinite;
  animation-fill-mode: forwards;  
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: rotate(30deg);
  
  background: rgba(255, 255, 255, 0.10);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.13) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger effect */


/* Active state */

.animate:active:after {
  opacity: 0;
}

@keyframes shine{
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
  }
}
.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    /*background: #fff;*/
}

.border-top{
  border-top: 1px solid #ddd;
}

.border-bottom{
  border-bottom: 1px solid #ddd;
}

.shadow{
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.pd-20{
  padding: 20px;
}

.text-white{
  color: #fff !important;
}

.text-black{
  color: #000 !important;
}

.btn-cotainer{
  max-width: 465px;
  text-align: center;
}

.btn-cotainer2{
  max-width: 180px;
  text-align: center;
}

.btn-rounded{
  padding: 6px 6px !important;
}

.imagen{
  width: 200px !important;
}

@media screen and (min-width: 1750px) {
  .circle {
      background-color:#fff;
      /*border:20px solid #2d2d2d !important; */   
      border-radius:50% !important;
      -moz-border-radius:50% !important;
      -webkit-border-radius:50% !important;
      padding: 50px !important;
      height: 450px;
      width: 450px;
      text-align: center;
  }
  .container-catalogue{
    padding: 25px;
  }
  .img-catalogue{
    height: 60%;
  }
  .txt-catalogue{
    height: 40%;
  }

  .img-fluid{
    max-width: 200px !important;
    max-height: 200px !important; 
  }
}

@media screen and (min-width: 1200px) and (max-width: 1749px) {
  .circle {
      /*background-color:#fff;*/
      /*border:20px solid #2d2d2d !important; */     
      border-radius:50% !important;
      -moz-border-radius:50% !important;
      -webkit-border-radius:50% !important;
      padding: 45px !important;
      height: 320px;
      width: 320px;
      text-align: center;
  }
  .container-catalogue{
    padding: 25px;
  }
  .img-catalogue{
    height: 50%;
  }
  .txt-catalogue{
    height: 50%;
  }

  .img-fluid{
    max-width: 120px !important;
    max-height: 120px !important; 
  }

  .img-m{
    margin-top: 10px !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .circle {
      background-color:#fff;
      /*border:20px solid #2d2d2d !important; */     
      border-radius:50% !important;
      -moz-border-radius:50% !important;
      -webkit-border-radius:50% !important;
      padding: 40px !important;
      height: 260px;
      width: 260px;
      text-align: center;
  }
  .container-catalogue{
    width: 780px;
  }
  .img-catalogue{
    height: 40%;
  }
  .txt-catalogue{
    height: 60%;
  }

  .img-fluid{
    max-width: 90px !important;
    max-height: 90px !important; 
  }
}


@media screen and (min-width: 600px) and (max-width: 991px) {
  .circle {
      background-color:#fff;
      /*border:20px solid #2d2d2d !important; */    
      border-radius:50% !important;
      -moz-border-radius:50% !important;
      -webkit-border-radius:50% !important;
      padding: 42px !important;
      height: 380px;
      width: 380px;
      text-align: center;
  }
  .container-catalogue{
    width: 400px;
  }
  .img-catalogue{
    height: 60%;
  }
  .txt-catalogue{
    height: 40%;
  }

  .img-fluid{
    max-width: 200px !important;
    max-height: 200px !important; 
  }
}

@media screen and (max-width: 599px) {
  .circle {
      background-color:#fff;
      /*border:20px solid #2d2d2d !important; */     
      border-radius:50% !important;
      -moz-border-radius:50% !important;
      -webkit-border-radius:50% !important;
      padding: 45px !important;
      height: 270px;
      width: 270px;
      text-align: center;
  }
  .container-catalogue{
    width: 300px;
  }
  .img-catalogue{
    height: 35%;
  }
  .txt-catalogue{
    height: 65%;
  }

  .imagen{
    width: 200px !important;
  }

  .img-fluid{
    max-width: 90px !important;
    max-height: 90px !important; 
  }
}

.margin-auto{
  margin-right: auto !important;
  margin-left: auto !important;
}

/*END New Styles*/


.img_form_reg{
  width: 80px!important;  
    
}
.tit_form_reg{
    font-size:35px!important;
    color:white!important;
    font-weight: bold!important;
   
}
.btn_regist{
max-width: 180px;
min-width: 180px;
height: 45px;
line-height: 35px !important;
font-size: 18px !important;
background: rgba(248,80,50,1)!important;
background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 26%, rgba(241,111,92,1) 36%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%)!important;
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(248,80,50,1)), color-stop(26%, rgba(246,41,12,1)), color-stop(36%, rgba(241,111,92,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)))!important;
background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 26%, rgba(241,111,92,1) 36%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%)!important;
background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 26%, rgba(241,111,92,1) 36%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%)!important;
background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 26%, rgba(241,111,92,1) 36%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%)!important;
background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 26%, rgba(241,111,92,1) 36%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 )!important;
}
.letras_carrusel{
    font-size: 50px;
    color:white;
    font-weight:bold;
}
.inicial{
   
     height:70vh;
}
.productos{
   
     height:70vh;
}

.load_pantalla{
    position: absolute;
    z-index: 999;
  left:50%;
top:50%;  
}
fondo{
  background-color: rgba(0,0,0,0.8);
  max-width: 100%;
  filter:brightness(0.4);
}
.detalle_prod{
 height: 100px;
}
.rojo{
    color: red!important;
}
.footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 98%;
    height: 40px;
    color: white;
    
}

.select_color{
    width: 50px!important; 
}

