﻿html,body{

margin:0px;

height:100%;

}

.margin-fix{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.margin-bottom-fix{
  margin-bottom: 0px !important;
}

.w-100{
  width: 100%;
}

.h-100{
  height: 100%;
}

.no-padding{
  padding: 0px !important;
}

.nopt{
  padding-top: 0px !important;
}

.nopt{
  padding-bottom: 0px !important;
}

.pt10{
  padding-top: 10px !important;
}

.pt20{
  padding-top: 20px !important;
}

.pt25{
  padding-top: 25px !important;
}

.pt30{
  padding-top: 30px !important;
}

.pt50{
  padding-top: 50px !important;
}

.pt100{
  padding-top: 100px !important;
}

.white{
  color: #fff !important;
}

i.white{
  color: #fff !important;
  font-size: 30px !important;
}

@media (width: 1024px) and (height: 768px) {
  .menu-h{
    height: 50% !important;
    /*height: auto;
    min-height: 408px;*/
  }

  .menu-top{
    height: 50% !important;
    /*min-height: 350px !important;*/
  }
}

.menu-top{
  /*height: 50%;*/
  height: auto;
  min-height: auto !important;
  min-height: 50%;
}

.menu-h{
  height: 50%;
  /*height: auto;*/
}

@media (min-width: 1025px) {
  .logotype{
    height: auto;
    margin: auto;
    width:100%;
    /*padding: 30px 150px 30px 150px !important;
    min-height: 10% !important;
    max-height: 10% !important;
    display:table-cell;*/
    vertical-align:middle;
    text-align: -webkit-center;
  }
}

.menu-bottom {
  background: rgba(16, 15, 16, 0.8);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

.logotype{
  height: auto;
  margin: auto;
  width:100%;
  /*padding: 30px 150px 30px 150px !important;
  min-height: 10% !important;
  max-height: 10% !important;
  display:table-cell;*/
  vertical-align:middle;
  text-align: -webkit-center;
}

.menu-button{
  width: 60%;
  margin: auto;
  padding: 20px 30px 20px 30px;
}

.btn-custom2{
  border-radius: 20px !important;
  min-height: 50px !important;
  color: #fff !important;
  font-size: 16px !important;
}

.btn-custom{
  border: solid 2px #fff !important;
  border-radius: 25px !important;
  min-height: 60px !important;
  color: #fff !important;
  font-size: 1.2em !important;
}

.menu-txt{
  width: 80%;
  margin: auto;
  padding: 20px 30px 20px 30px;
  color: #fff;
  font-size: 22px;
  text-align: center;
}

.menu-txt2{
  width: 80%;
  margin: auto;
  padding: 20px 30px 0px 30px;
  color: #fff;
  font-size: 22px;
  text-align: center;
}

.menu-items {
    width: 70%;
    margin: auto;
    padding: 10px 30px 30px 30px;
}

.powered{
  width: 35%;
  margin: auto;
  padding: 0px 30px 10px 30px;
}

.terminos-txt{
  width: 80%;
  margin: auto;
  padding: 30px 30px 30px 30px;
  font-size: 14px;
  text-align: center;
}


/*Registra tu Número de Teléfono CSS*/
.fullcard {
  width: 100%;
  min-height: 100%;
  min-height: -webkit-fill-available;
  background: rgba(16, 15, 16, 0.8);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

@media (min-width: 796px) {

  .card-left{
    padding: 20px;
    margin: auto;
    height: 550px;
    vertical-align: middle;
    display: table-cell;
  }

  .logotype-cel{
    width: 30% !important;
    margin: auto;
    padding: 50px 120px 30px 120px;
    min-height: 200px !important;
    max-height: 240px !important;
    display:table-cell;
    vertical-align:middle;
    text-align: center;
  }

  .black-txt{
    width: 80%;
    margin: auto;
    padding: 30px 30px 30px 30px;
    color: #000;
    text-align: center;
  }

  .w-txt-p-50{
    padding: 80px 0px 30px 0px;
  }

  .gray-txt{
    width: 100%;
    margin: auto;
    color: #9c9c9c;
    text-align: center;
    font-size: 18px !important;
  }

  .white-txt{
    width: 100%;
    margin: auto;
    color: #fff;
    text-align: center;
  }

  .menu-top{
    height: auto !important;
    /*min-height: 350px !important;*/
  }
}


@media (max-width: 796px) {
  .card-left{
    padding: 50px 10px 10px 10px;
    margin: auto;
    max-height: 450px;
    float: right !important;
    width: 100%;
  }

  .logotype-cel{
    width: 50% !important;
    margin: auto !important;
    text-align: center;
  }

  .black-txt {
    max-width: 380px;
    margin: auto;
    padding: 30px 30px 30px 30px;
    color: #000;
    text-align: center;
  }

  .w-txt-p-50{
    padding: 30px 0px 30px 30px;
  }

  .white-txt{
    width: 100%;
    margin: auto;
    color: #fff;
    text-align: center;
    font-size: 18px !important;
  }

  .gray-txt{
    width: 100%;
    margin: auto;
    color: #9c9c9c;
    text-align: center;
    font-size: 18px !important;
  }

  .nopm{
    padding: 0px !important;
  }

  .back{
    position: absolute;
    top:20px !important;
    left: 0px;
    padding-left: 30px !important;
    font-size: 22px;
  }

  .divtable{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom: 15px; 
  }

  .menu-top{
    height: auto !important;
    /*min-height: 350px !important;*/
  }
}



.form-control-b {
  text-align: center;
  display: block;
  width: 100%;
  height: 55px;
  padding: 6px 12px;
  font-size: 24px;
  line-height: 1.42857143;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.nop{
  padding: 0px !important;
}

.divtable{
  width: 100%;
  margin: auto;
  text-align: center;
}

#numeric table{
  border-collapse: collapse;
}

#numeric{
  margin: auto !important;
} 

#numeric th, #numeric td {
  margin: auto;
  border: 1px solid #ccc;
  padding: 25px 40px 25px 40px;
  background: #000;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.button-cel{
  width: 60%;
  margin: auto;
  padding: 20px 30px 20px 30px;
} 

.back{
  position: absolute;
  top:30px;
  left: 0px;
  padding-left: 50px;
  font-size: 22px;
}

/*New styles to Register Form*/
@media (min-width: 991px) {

  .leftside{
    min-height: 100%;
    padding-top: 40%;
    margin-top: auto;
    margin-bottom: auto;
  }

  .leftside2{
    min-height: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }

  .button-cel{
    width: 35% !important;
    margin: auto;
    padding: 20px 30px 20px 30px;
  } 
}
@media (max-width: 990px) {
  .leftside{
    min-height: 250px;
    max-height: 300px;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .leftside2{
    min-height: 250px;
    /*max-height: 300px;*/
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .ptm{
    padding-top: 10px !important;
  }
}

/*Message Window*/

.logotypemsj {
    width: 55% !important;
    margin: auto !important;
    padding-top: 60px;
    min-height: 200px !important;
    max-height: 240px !important;
}

.fullscreen-txt{
  font-size: 28px !important;
}

.congrats{
    font-size: 48px !important;
    margin: 15px 0px 15px 0px;
}

.fullscreen-sub{
  padding-top: 10px;
  font-size: 18px !important;
}
