*{
	font-family: Oswald, sans-serif;
}

.spanText{
	font-family: Helvetica;
	font-size:20pt; 
	font-weight: 500; 
	color:white;
}

body{
	/*background:url('../../inc/imagenes/tablet/cat_chocolateas_hover_A19_Rectangle_2_pattern@2x.png') no-repeat;*/
	background: url('../../inc/imagenes/tablet/login/rectangulo252.png') no-repeat;
	background-size: 100% auto;
	background-position: bottom;
	
}

#back-top{
	background:url('../../inc/imagenes/tablet/login/rectangulo_253.png') no-repeat;
	background-size: cover;
	background-position: top center;
	
	-webkit-box-shadow: 0px 7px 8px rgba(0,0,0,0.5);
	box-shadow: 0px 7px 8px rgba(0,0,0,0.5);
	-o-box-shadow: 0px 7px 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 7px 8px rgba(0,0,0,0.5);
}

.btn-primary{
	background-color: #EF2967;
	-webkit-box-shadow: 6px 11px 8px rgba(0,0,0,0.5);
	box-shadow: 6px 11px 8px rgba(0,0,0,0.5);
	-o-box-shadow: 6px 11px 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 6px 11px 8px rgba(0,0,0,0.5);
	border-color: #EF2967 !important;			
	padding: 8px;
	font-family: Helvetica;
}

.btn-primary:hover{
	color: #EF2967;			
	background-color: white;
}

.btn-primary:active{
	color: #EF2967;			
	background-color: white;
}

input{			
	border: transparent;
	padding-left: 5px;

}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #EF2967 transparent #EF2967 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.input-group-text{
	background-color: #EF2967;
	color: white;
	border-color: #EF2967;
}

input{
	width: auto;
	font-family: Helvetica;
	/*font-size: 19pt;*/
	font-weight: bold;
	height: 35pt !important;
}

select{
	width: auto;
	font-family: Helvetica;
	font-size: 21pt;
	height: 35pt !important;
}